In [2]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 
import pandas as pd
import numpy as np

In [3]:
data=pd.read_excel("new_data.xlsx")
print(data)

     Unnamed: 0.1  Unnamed: 0  AGE  MANG. POS  QUALIFCSN  EXPRNC  GENDER  \
0               0           0    2          2          3       2       1
1               1           1    2          2          3       3       1
2               2           2    2          2          3       2       2
3               3           3    2          2          3       2       1
4               4           4    2          3          3       3       1
..            ...         ...  ...        ...        ...     ...     ...
201           201         116    1          3          2       1       2
202           202           8    2          2          3       3       1
203           203           7    2          2          3       3       1
204           204         163    1          2          2       1       1
205           205           8    2          2          3       3       1

     PRESENT JOB FEELING  ENTHUSIASM  WORKOVERLD  ...  DOWNHRTED  BOTHRED  \
0                      3    4.000000           2  ...          3        2
1                      4    1.000000           2  ...          2        2
2                      4    4.000000           4  ...          3        4
3                      4    3.000000           4  ...          3        2
4                      3    4.000000           5  ...          5        1
..                   ...         ...         ...  ...        ...      ...
201                    1    3.146202           1  ...          4        4
202                    1    1.000000           2  ...          1        4
203                    1    1.088406           2  ...          1        5
204                    1    4.754033           1  ...          3        2
205                    1    1.948817           2  ...          1        5

     EMOSNAL STABLTY  CHEERUL     TIRED  ABSNT MIND  DISCUSS CO-WORKER  \
0                  1        4  3.000000           4                  4
1                  4        3  1.000000           4                  3
2                  3        4  3.000000           4                  4
3                  3        2  1.000000           3                  1
4                  4        1  1.000000           5                  1
..               ...      ...       ...         ...                ...
201                3        2  4.926899           3                  1
202                5        1  1.000000           2                  2
203                4        2  1.176811           2                  2
204                3        4  3.046971           2                  3
205                3        3  2.897634           2                  2

     PERSNL MTTR  THOUGHT OF LEAVING  LESS EFFORT
0              4                   4             4
1              4                   3             3
2              4                   4             2
3              3                   1             3
4              5                   1             5
..           ...                 ...           ...
201            3                   1             5
202            2                   2             2
203            2                   2             3
204            2                   3             3
205            2                   2             3

[206 rows x 25 columns]

In [6]:
class_value=data["PRESENT JOB FEELING"]
class_value
feature_name_list=data.columns[7:]
feature_name_list
feature_final_list=[]
for i in feature_name_list:
    if "Unnamed: " not in i:
        feature_final_list.append(i)
print(feature_final_list)
features=data[feature_final_list]
features.shape
features=features.dropna()
features.shape

['PRESENT JOB FEELING', 'ENTHUSIASM', 'WORKOVERLD', 'ENJOYMNT', 'UNPLSNTTASK', 'TOUGH PERFORMNCE', 'TIME MNGMNT', 'DISAPNTMNT', 'DOWNHRTED', 'BOTHRED', 'EMOSNAL STABLTY', 'CHEERUL', 'TIRED', 'ABSNT MIND', 'DISCUSS CO-WORKER', 'PERSNL MTTR', 'THOUGHT OF LEAVING', 'LESS EFFORT ']

(206, 18)

In [10]:

class_value.shape
features=features.astype("int")
class_value=class_value.astype("int")
class_value=class_value.dropna()
class_value.shape

x=features
y=class_value

sm = SMOTE(random_state=122)
X_res, y_res = sm.fit_resample(data, y)
X_res

,Unnamed: 0.1,Unnamed: 0,AGE,MANG. POS,QUALIFCSN,EXPRNC,GENDER,PRESENT JOB FEELING,ENTHUSIASM,WORKOVERLD,...,DOWNHRTED,BOTHRED,EMOSNAL STABLTY,CHEERUL,TIRED,ABSNT MIND,DISCUSS CO-WORKER,PERSNL MTTR,THOUGHT OF LEAVING,LESS EFFORT
0,0,0,2,2,3,2,1,3,4.000000,2,...,3,2,1,4,3.000000,4,4,4,4,4
1,1,1,2,2,3,3,1,4,1.000000,2,...,2,2,4,3,1.000000,4,3,4,3,3
2,2,2,2,2,3,2,2,4,4.000000,4,...,3,4,3,4,3.000000,4,4,4,4,2
3,3,3,2,2,3,2,1,4,3.000000,4,...,3,2,3,2,1.000000,3,1,3,1,3
4,4,4,2,3,3,3,1,3,4.000000,5,...,5,1,4,1,1.000000,5,1,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,43,43,3,2,2,2,1,5,2.000000,4,...,1,2,2,1,1.139173,4,1,4,1,1
256,79,79,2,1,3,2,1,5,2.607610,5,...,1,1,4,1,1.392390,2,1,2,1,1
257,143,143,2,2,3,1,1,5,3.569640,4,...,4,3,3,2,3.430360,2,3,2,3,1
258,31,31,2,2,3,2,1,5,2.068077,4,...,2,3,4,1,2.000000,4,1,4,1,1
259,45,45,2,2,3,2,2,5,4.554796,4,...,3,2,4,1,1.851599,4,3,4,3,1